header.header
  .header__wrapper
    .container.header__container
        .header__top
          .header__logo
            a(href="#").logo
              +image('content/logo.png', 'logo__img')
          button(type='button').humburger-btn
            .humburger-btn__row
            .humburger-btn__row
            .humburger-btn__row
        .header__content
          h1.header__title Roadster
          .header__wrap-desc
            .header__desc
              | Самый быстрый автомобиль в мире, с рекордным ускорением, дальностью и производительностью.
            .header__btn
              button(type='button').btn Хочу тест драйв
  .header__slider
    ul.slider
      - var sldierImages = [
      -  `background-image: url(${require("./images/content/slider-img-1.jpg")})`,
      -  `background-image: url(${require("./images/content/slider-img-2.jpg")})`,
      -  `background-image: url(${require("./images/content/slider-img-3.jpg")})`
      - ]
      each sliderImg in sldierImages
        li.slider__item(style=sliderImg)
  .header__menu
    nav.menu
      .container
        ul.menu__list
          - var menuList = [
          -  { title: 'Узнать цену', url: '#' },
          -  { title: 'Характеристики', url: '#' },
          -  { title: 'Тест Драйв', url: '#' },
          -  { title: 'Новости', url: '#' },
          -  { title: 'Контакты', url: '#' }
          - ]
          each item in menuList
            li.menu__item
              a(href=item.url).menu__link #{item.title}
